<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Song Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" href ="https://i.scdn.co/image/ab67616d00001e020e4bd9ce99988f3182bf771a"
          type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>
</html>