<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<br>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <br>
            </div>
        </div>
    </div>
    <div class="jumbotron">
      <h1 class="display-3">Get hidden details of any spotify song!!</h1>
      <hr class="my-4">
      <p>Must Log-in to Spotify to access song info</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('verify') }}" role="button">Log-in to Spotify</a>
		<a class="btn btn-primary btn-lg" href="https://github.com/kevin-samson/Spotify-song-info-website" role="button">Git-hub</a>
      </p>
    </div>
</div>